<a href="https://colab.research.google.com/github/scoobiii/ONS_Dados_Abertos/blob/main/SunStream_SIN_CARGA_USINA_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CARGA DE ENERGIA-2022

In [2]:
from urllib import request
import pandas as  pd
import numpy as np

**1. Download do Dataset do Portal de Dados Abertos**

In [3]:
file_url = 'https://ons-dl-prod-opendata.s3.amazonaws.com/dataset/carga_energia_di/CARGA_ENERGIA_2022.csv'
source_file = 'CARGA_ENERGIA_2022.csv'
request.urlretrieve(file_url , source_file )

('CARGA_ENERGIA_2022.csv', <http.client.HTTPMessage at 0x7f28c79d1130>)

**2. Importar arquivo**

In [4]:
dataframe = pd.read_csv(source_file, sep=';',encoding = "utf-8")

if (dataframe.empty) :
    print('DATAFRAME VAZIO')
else:
  print('shape:', dataframe.shape)
  print('columns:', dataframe.columns)

shape: (1360, 4)
columns: Index(['id_subsistema', 'nom_subsistema', 'din_instante',
       'val_cargaenergiamwmed'],
      dtype='object')

In [5]:
dataframe.head(3)

  id_subsistema nom_subsistema din_instante  val_cargaenergiamwmed
0             N          NORTE   2022-01-01            5036.496958
1            NE       NORDESTE   2022-01-01           10017.780333
2             S            SUL   2022-01-01            9892.037917

In [6]:
dataframe.head()

  id_subsistema nom_subsistema din_instante  val_cargaenergiamwmed
0             N          NORTE   2022-01-01            5036.496958
1            NE       NORDESTE   2022-01-01           10017.780333
2             S            SUL   2022-01-01            9892.037917
3            SE        SUDESTE   2022-01-01           31543.827292
4             N          NORTE   2022-01-02            5330.572542

In [7]:
dataframe

     id_subsistema nom_subsistema din_instante  val_cargaenergiamwmed
0                N          NORTE   2022-01-01            5036.496958
1               NE       NORDESTE   2022-01-01           10017.780333
2                S            SUL   2022-01-01            9892.037917
3               SE        SUDESTE   2022-01-01           31543.827292
4                N          NORTE   2022-01-02            5330.572542
...            ...            ...          ...                    ...
1355            SE        SUDESTE   2022-12-05           40247.658833
1356             N          NORTE   2022-12-06            6685.945333
1357            NE       NORDESTE   2022-12-06           11255.049042
1358             S            SUL   2022-12-06           13816.222000
1359            SE        SUDESTE   2022-12-06           41711.835542

[1360 rows x 4 columns]

**3.Explorando o conteúdo do arquivo**

In [8]:
dataframe.count()

id_subsistema            1360
nom_subsistema           1360
din_instante             1360
val_cargaenergiamwmed    1360
dtype: int64

**3.2 Quantidade de valores nulos**

In [9]:
dataframe.isnull().sum()

id_subsistema            0
nom_subsistema           0
din_instante             0
val_cargaenergiamwmed    0
dtype: int64

**4. Estatísticas**

In [10]:
# Variaveis do tipo "TEXTOS"
dataframe.describe(include=[object])

       id_subsistema nom_subsistema din_instante
count           1360           1360         1360
unique             4              4          340
top                N          NORTE   2022-01-01
freq             340            340            4

In [11]:
# Variaveis do tipo "NUMERO"
dataframe.describe(include=[np.number])
 
# ou dataframe.describe(exclude=[object])

       val_cargaenergiamwmed
count            1360.000000
mean            17207.431553
std             13346.311010
min              5036.496958
25%              7579.908292
50%             11472.783565
75%             20050.470104
max             47636.054958

In [12]:
# Estatistica sobre uma das colunas selecionadas
dataframe.val_cargaenergiamwmed.describe()

count     1360.000000
mean     17207.431553
std      13346.311010
min       5036.496958
25%       7579.908292
50%      11472.783565
75%      20050.470104
max      47636.054958
Name: val_cargaenergiamwmed, dtype: float64

**5. Análise sobre os resultados - Foco em Geração**

*A função value_counts() do pandas é valiosíssima nas análises de dados, o que ela faz é verificar a contagem de dados iguais em um dataframe ou em uma coluna, e retorna uma Series com esse resultado.*

In [13]:
dataframe.id_subsistema.value_counts(ascending=False)

N     340
NE    340
S     340
SE    340
Name: id_subsistema, dtype: int64

*A função duplicated() nos retorna uma série booleana denotando linhas duplicadas. Os resultados são Verdadeiro(True) e Falso(False), sendo verdadeiros os valores duplicados.*

In [14]:
resultado = dataframe.duplicated(subset=['id_subsistema'], keep=False)
dataframe[resultado]

     id_subsistema nom_subsistema din_instante  val_cargaenergiamwmed
0                N          NORTE   2022-01-01            5036.496958
1               NE       NORDESTE   2022-01-01           10017.780333
2                S            SUL   2022-01-01            9892.037917
3               SE        SUDESTE   2022-01-01           31543.827292
4                N          NORTE   2022-01-02            5330.572542
...            ...            ...          ...                    ...
1355            SE        SUDESTE   2022-12-05           40247.658833
1356             N          NORTE   2022-12-06            6685.945333
1357            NE       NORDESTE   2022-12-06           11255.049042
1358             S            SUL   2022-12-06           13816.222000
1359            SE        SUDESTE   2022-12-06           41711.835542

[1360 rows x 4 columns]

https://dados.ons.org.br/

>dicionario de dados