<a href="https://colab.research.google.com/github/scoobiii/ONS_Dados_Abertos/blob/main/SunStream_SIN_CARGA_USINA_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CARGA DE ENERGIA-2021

In [ ]:
from urllib import request
import pandas as  pd
import numpy as np

**1. Download do Dataset do Portal de Dados Abertos**

In [ ]:
file_url = 'https://ons-dl-prod-opendata.s3.amazonaws.com/dataset/carga_energia_di/CARGA_ENERGIA_2021.csv'
source_file = 'CARGA_ENERGIA_2021.csv'
request.urlretrieve(file_url , source_file )

('CARGA_ENERGIA_2021.csv', <http.client.HTTPMessage at 0x7faeaf6c1400>)

**2. Importar arquivo**

In [ ]:
dataframe = pd.read_csv(source_file, sep=';',encoding = "utf-8")

if (dataframe.empty) :
    print('DATAFRAME VAZIO')
else:
  print('shape:', dataframe.shape)
  print('columns:', dataframe.columns)

shape: (1460, 4)
columns: Index(['id_subsistema', 'nom_subsistema', 'din_instante',
       'val_cargaenergiamwmed'],
      dtype='object')

In [ ]:
dataframe.head(3)

  id_subsistema nom_subsistema din_instante  val_cargaenergiamwmed
0             N          NORTE   2021-01-01            5249.829458
1            NE       NORDESTE   2021-01-01            9828.785917
2             S            SUL   2021-01-01            8564.132540

In [ ]:
dataframe.head()

  id_subsistema nom_subsistema din_instante  val_cargaenergiamwmed
0             N          NORTE   2021-01-01            5249.829458
1            NE       NORDESTE   2021-01-01            9828.785917
2             S            SUL   2021-01-01            8564.132540
3            SE        SUDESTE   2021-01-01           32419.959958
4             N          NORTE   2021-01-02            5585.214708

In [ ]:
dataframe

     id_subsistema nom_subsistema din_instante  val_cargaenergiamwmed
0                N          NORTE   2021-01-01            5249.829458
1               NE       NORDESTE   2021-01-01            9828.785917
2                S            SUL   2021-01-01            8564.132540
3               SE        SUDESTE   2021-01-01           32419.959958
4                N          NORTE   2021-01-02            5585.214708
...            ...            ...          ...                    ...
1455            SE        SUDESTE   2021-12-30           38850.805500
1456             N          NORTE   2021-12-31            5396.575583
1457            NE       NORDESTE   2021-12-31           10835.873958
1458             S            SUL   2021-12-31           10689.669167
1459            SE        SUDESTE   2021-12-31           35249.151750

[1460 rows x 4 columns]

**3.Explorando o conteúdo do arquivo**

In [ ]:
dataframe.count()

id_subsistema            1460
nom_subsistema           1460
din_instante             1460
val_cargaenergiamwmed    1460
dtype: int64

**3.2 Quantidade de valores nulos**

In [ ]:
dataframe.isnull().sum()

id_subsistema            0
nom_subsistema           0
din_instante             0
val_cargaenergiamwmed    0
dtype: int64

**4. Estatísticas**

In [ ]:
# Variaveis do tipo "TEXTOS"
dataframe.describe(include=[object])

       id_subsistema nom_subsistema din_instante
count           1460           1460         1460
unique             4              4          365
top                N          NORTE   2021-01-01
freq             365            365            4

In [ ]:
# Variaveis do tipo "NUMERO"
dataframe.describe(include=[np.number])
 
# ou dataframe.describe(exclude=[object])

       val_cargaenergiamwmed
count            1460.000000
mean            17129.563282
std             13066.230490
min              5223.089583
25%              7894.391771
50%             11639.810042
75%             18918.743292
max             46490.861667

In [ ]:
# Estatistica sobre uma das colunas selecionadas
dataframe.val_cargaenergiamwmed.describe()

count     1460.000000
mean     17129.563282
std      13066.230490
min       5223.089583
25%       7894.391771
50%      11639.810042
75%      18918.743292
max      46490.861667
Name: val_cargaenergiamwmed, dtype: float64

**5. Análise sobre os resultados - Foco em Geração**

*A função value_counts() do pandas é valiosíssima nas análises de dados, o que ela faz é verificar a contagem de dados iguais em um dataframe ou em uma coluna, e retorna uma Series com esse resultado.*

In [ ]:
dataframe.id_subsistema.value_counts(ascending=False)

N     365
NE    365
S     365
SE    365
Name: id_subsistema, dtype: int64

*A função duplicated() nos retorna uma série booleana denotando linhas duplicadas. Os resultados são Verdadeiro(True) e Falso(False), sendo verdadeiros os valores duplicados.*

In [ ]:
resultado = dataframe.duplicated(subset=['id_subsistema'], keep=False)
dataframe[resultado]

     id_subsistema nom_subsistema din_instante  val_cargaenergiamwmed
0                N          NORTE   2021-01-01            5249.829458
1               NE       NORDESTE   2021-01-01            9828.785917
2                S            SUL   2021-01-01            8564.132540
3               SE        SUDESTE   2021-01-01           32419.959958
4                N          NORTE   2021-01-02            5585.214708
...            ...            ...          ...                    ...
1455            SE        SUDESTE   2021-12-30           38850.805500
1456             N          NORTE   2021-12-31            5396.575583
1457            NE       NORDESTE   2021-12-31           10835.873958
1458             S            SUL   2021-12-31           10689.669167
1459            SE        SUDESTE   2021-12-31           35249.151750

[1460 rows x 4 columns]

https://dados.ons.org.br/

>dicionario de dados